{% if bit.slides -%}
<!-- Swiper -->
<div class="fs swiper-container{% if bit.orientation %} swiper-container-{{ bit.orientation }}{% endif %}
"{% if bit.orientation %} data-orientation="{{ bit.orientation }}"{% endif %}>
  <div class="swiper-wrapper">
    {% for each in bit.slides -%}
    <div class="swiper-slide">
      <div class="slide-content">
        {% if each.img %}<img src="{{ each.img }}">{% endif %}
        {% if each.hed %}<h2>{{ each.hed }}</h2>{% endif %}
        {% if each.text %}<p>{{ each.text }}</p>{% endif %}
      </div>
    </div>
    {%- endfor %}
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
{%- endif %}